<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/style.css">
        <title>Buscador de rutas</title>
    </head>
    <body>
        <div class="cointaner">
            <header>
                <h1>Buscador de rutas</h1>
            </header>

            <main>
                <form action="/discover" method="post">
                    <input type="text" name="query" placeholder="Buscar..."><br><br>
                    <input type="submit" value="Buscar">
                </form>
            </main>
        </div>
    </body>
</html>